.anchor {
  @apply text-black;
}
.anchor:hover {
  @apply no-underline;
}

.btn {
  @apply text-white font-bold p-2 rounded;
}

.btn-green {
  @apply bg-green-500;
}
.btn-green:hover {
  @apply bg-green-600;
}
.btn-green:focus {
  @apply bg-green-700;
}

.btn-blue {
  @apply bg-blue-500;
}
.btn-blue:hover {
  @apply bg-blue-600;
}
.btn-blue:focus {
  @apply bg-blue-700;
}

.btn-red {
  @apply bg-red-500;
}
.btn-red:hover {
  @apply bg-red-600;
}
.btn-red:focus {
  @apply bg-red-700;
}

.form-label {
  @apply text-black font-bold mb-1 pr-4;
}

.form-input {
  @apply bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight;
}
.form-input:focus {
  @apply text-black outline-none bg-white;
}
.form-input-blue:focus {
  @apply border-blue-500;
}
.form-input-green:focus {
  @apply border-green-500;
}

.list-item {
  @apply w-full block flex justify-between p-2 pl-4 mt-4 border-l-2 border-gray-500;
}
.list-item:hover {
  @apply border-gray-600 bg-gray-100;
}

.smooth {
  @apply transform transition ease-in-out duration-200;
}
